.post {
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
    h3 {
      color: var(--highlight);
    }
    p {
      color: var(--white);
    }

    footer div span {
      color: var(--white);
    }
  }

  & + .post {
    margin-top: 5rem;
  }

  h3 {
    color: var(--white);
    font-weight: 700;
    font-size: 2.8rem;
    transition: color 0.2s;
  }

  p {
    font-weight: 400;
    font-size: 1.8rem;
    margin-top: 0.8rem;
    color: var(--gray-300);
    transition: color 0.2s;
  }

  footer {
    display: flex;
    flex-direction: row;
    margin-top: 2.5rem;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;

      & + div {
        margin-left: 2.4rem;
      }

      img {
        margin-right: .8rem;
        width: 20px;
        height: 20px;
        transition: color 0.2s;
      }

      span {
        color: var(--gray-300);
        font-size: 1.4rem;
        font-weight: 400;
        transition: color 0.2s;
      }
    }
  }
}

.loadMorePosts {
  margin-top: 6.4rem;
  button {
    outline: none;
    background: transparent;
    border: unset;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--highlight);

    &:hover {
      text-decoration: underline;
    }
  }
}
